<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.damon.oauth.mapper.ClientMapper">

    <sql id="where">
        <where>
            <if test="clientId!= null and clientId != ''">
                and client_id = #{clientId}
            </if>
            <if test="resourceIds != null and resourceIds != ''">
                and resource_ids = #{resourceIds}
            </if>
            <if test="clientSecret != null and clientSecret != ''">
                and client_secret = #{clientSecret}
            </if>
            <if test="scope != null and scope != ''">
                and scope = #{scope}
            </if>
            <if test="authorizedGrantTypes != null and authorizedGrantTypes != ''">
                and authorized_grant_types = #{authorizedGrantTypes}
            </if>
            <if test="webServerRedirectUri != null and webServerRedirectUri != ''">
                and web_server_redirect_uri = #{webServerRedirectUri}
            </if>
            <if test="authorities != null and authorities != ''">
                and authorities = #{authorities}
            </if>
            <if test="accessTokenValidity != null and accessTokenValidity != ''">
                and access_token_validity = #{accessTokenValidity}
            </if>
            <if test="refreshTokenValidity != null and refreshTokenValidity != ''">
                and refresh_token_validity = #{refreshTokenValidity}
            </if>
            <if test="additionalInformation != null and additionalInformation != ''">
                and additional_information = #{additionalInformation}
            </if>
            <if test="autoapprove != null and autoapprove != ''">
                and autoapprove = #{autoapprove}
            </if>
            <if test="searchKey != null and searchKey != ''">
                and client_id like concat('%', #{searchKey}, '%')
            </if>
        </where>
    </sql>

    <select id="findList" resultType="com.damon.oauth.pojo.Client" parameterType="com.damon.oauth.pojo.ClientPage">
        select id, client_id, client_name, resource_ids
            , client_secret, client_secret_str, web_server_redirect_uri
            , scope, authorized_grant_types, autoapprove
            , access_token_validity accessTokenValiditySeconds
            , refresh_token_validity refreshTokenValiditySeconds
            , support_id_token, refresh_token_validity
        from oauth_client_details
    </select>
</mapper>